/* Footer.css */
.Footer {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  } 
  
  .Footer a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .Footer a:hover {
    text-decoration: underline;
  }
  